[submodule "roles/i3/library/external_modules/ansible-aur"]
	path = roles/i3/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "library/external_modules/ansible-aur"]
	path = library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "roles/common/library/external_modules/ansible-aur"]
	path = roles/common/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "roles/chrome/library/external_modules/ansible-aur"]
	path = roles/chrome/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur
[submodule "roles/simplenote/library/external_modules/ansible-aur"]
	path = roles/simplenote/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "roles/g810-led/library/external_modules/ansible-aur"]
	path = roles/g810-led/library/external_modules/ansible-aur
    url = https://github.com/cdown/ansible-aur.git
[submodule "roles/simplenote/library/external_modules/ansible-aur"]
	path = roles/simplenote/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "roles/spotify/library/external_modules/ansible-aur"]
	path = roles/spotify/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "roles/pycharm/library/external_modules/ansible-aur"]
	path = roles/pycharm/library/external_modules/ansible-aur
	url = git://github.com/cdown/ansible-aur.git
[submodule "roles/doublecmd/library/external_modules/ansible-aur"]
	path = roles/doublecmd/library/external_modules/ansible-aur
	url = git://github.com/cdown/ansible-aur.git
