[submodule "roles/i3/library/external_modules/ansible-aur"]
	path = roles/i3/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "library/external_modules/ansible-aur"]
	path = library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "roles/common/library/external_modules/ansible-aur"]
	path = roles/common/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
[submodule "roles/chrome/library/external_modules/ansible-aur"]
	path = roles/chrome/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur
[submodule "roles/rescue-time/library/external_modules/ansible-aur"]
	path = roles/rescue-time/library/external_modules/ansible-aur
    url = https://github.com/cdown/ansible-aur.git
[submodule "roles/simplenote/library/external_modules/ansible-aur"]
	path = roles/simplenote/library/external_modules/ansible-aur
	url = https://github.com/cdown/ansible-aur.git
