roles/carlba.bash_aliases
roles/kosssi.gitconfig
roles/cmprescott.chrome
roles/geerlingguy.repo-epel
roles/jeremyltn.osx-computername
roles/geerlingguy.docker
roles/geerlingguy.mas
roles/geerlingguy.pip
roles/carlba.avahi
roles/carlba.dotfiles_minimal
roles/carlba.systemd-mounts
roles/carlba.vim
roles/carlba.tmux
roles/carlba.gitconfig
roles/carlba.pip
roles/feffi.macos-computername

roles/dj-wasabi.telegraf
roles/pwelch.avahi
*.retry
.vagrant
.travis.yml
*.log
*.idea
*.pyc
*.egg-info
build/
dist/

roles/jetbrain-toolbox/jetbrains_tempdir.path/
roles/media-server/files/
venv/
.DS_Store
__pycache__/
.vscode
