roles/carlba.bash_aliases
roles/kosssi.gitconfig
roles/cmprescott.chrome
roles/geerlingguy.repo-epel
*.retry
.vagrant
.travis.yml
*.log
*.idea
*.pyc
*.egg-info
build/
dist/

roles/jetbrain-toolbox/jetbrains_tempdir.path/
venv/
