# Default to 256 color terminal
set -g default-terminal "screen-256color"


# Set the refresh rate of the statusbar to 3000
set -g display-time 3000

# Mouse
set -g mouse on
#Taken from http://superuser.com/questions/209437/how-do-i-scroll-in-tmux

setw -g monitor-activity on
set -g visual-activity on
set -g set-titles on
set -g renumber-windows on
set -g allow-rename off
# set-window-option -g mode-keys vi
{% if ansible_os_family in ['Darwin'] %}

# workaround tmux-resurrect not sourcing bash_profile on restore
# https://github.com/tmux-plugins/tmux-resurrect/issues/94
set -g default-command "/bin/bash -l"
{% endif %}

{% if ansible_os_family in ['Darwin'] %}
set-environment -g TMUX_PLUGIN_MANAGER_PATH "{{ ansible_env.HOME }}/.tmux/plugins"
{% endif %}

# Enable Tmux plugin manager
# https://github.com/tmux-plugins/tpm
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

# https://github.com/tmux-plugins/tmux-resurrect
# Temporarily changed to https://github.com/kevinkjt2000/tmux-resurrect to fix first window bug
set -g @plugin 'kevinkjt2000/tmux-resurrect'
# https://github.com/tmux-plugins/tmux-continuum
set -g @plugin 'tmux-plugins/tmux-continuum'

set -g @resurrect-capture-pane-contents 'on'
set -g @resurrect-processes 'ssh mysql'
set -g @resurrect-strategy-nvim 'session'
set -g @continuum-boot 'on'
set -g @continuum-save-interval '1'
set -g @continuum-restore 'on'

# Refresh status bar every second
set -g status-interval 1

# https://github.com/tmux-plugins/tmux-open
set -g @plugin 'tmux-plugins/tmux-open'

# https://github.com/tmux-plugins/tmux-battery
set -g @plugin 'tmux-plugins/tmux-battery'

# https://github.com/tmux-plugins/tmux-online-status
set -g @plugin 'tmux-plugins/tmux-online-status'

# https://github.com/tmux-plugins/tmux-cpu
set -g @plugin 'tmux-plugins/tmux-cpu'

# https://github.com/tmux-plugins/tmux-prefix-highlight
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

# https://github.com/tmux-plugins/tmux-copycat
set -g @plugin 'tmux-plugins/tmux-copycat'

# https://github.com/tmux-plugins/tmux-sidebar
set -g @plugin 'tmux-plugins/tmux-sidebar'

# https://github.com/seebi/tmux-colors-solarized
set -g @plugin 'seebi/tmux-colors-solarized'

# https://github.com/tmux-plugins/tmux-yank
set -g @plugin 'tmux-plugins/tmux-yank'

#Configure statusbar
set -g status-right ' #{prefix_highlight} | CPU: #{cpu_icon} #{cpu_percentage} | Online: #{online_status} | Batt: #{battery_icon} #{battery_percentage} #{battery_remain}| %a %Y-%m-%d %H:%M '
set -g status-right-length 400

run '~/.tmux/plugins/tpm/tpm'
